<!DOCTYPE html>
<html>
  <head>
   	<meta charset=”utf-8”>    
   	<title>My First Bootstrap project</title>
   	<link rel="stylesheet" href="css/bootstrap.css"  type="text/css"/>
   </head>
   
   <body>
      	<script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
        <script src="js/bootstrap.js"></script>

   <div class="”container”">
   <h1><a href="”#”">IntraStore Notification System</a>
   
    <!--Madhu added from here-->
         
         <ul class="nav pull-right">
			<li>
			<div class="btn-group">						
			<a  class="btn btn-small btn-inverse" href="/en/register" >Register</a> 
			<a  class="btn btn-small btn-inverse" href="/en/login">Login</a>
			</div>
			</li>
			<!--<li class="divider-vertical"></li>-->
						
					</ul>
					</h1>
   <!--Navigation bar-->
       <div class="navbar">
         <div class="navbar-inner">
            <div class="container">
                <ul class="nav">
                  <li class="active"><a href="#">Home</a></li>
                  <li><a href="#">Scenarios</a></li>
                  <li><a href="#">Alert Manager</a></li>
                  <li><a href="#">Users</a></li>
                  <li><a href="#">About</a></li>
                  <li><a href="#">LogOut</a></li>
                </ul>
             </div>
            </div>
         </div>
              
    <!--Navigation bar ends-->
    
    <!--Marketing stuff starts-->
    <div class="hero-unit">
    <h1>How ISNS works?</h1>
 
    <p>Using this notification system, you can communicate better with your co-employee. Send and receive notifications about the day-day store tasks and updates. Customize your notification to whom to be delivered, entire store or a department or a specific employee!! Start now...</p>
 
    <a href="#" class="btn btn-large btn-info">Get Started</a>
    </div>
    <!--Marketing stuff ends-->
    
         <!--Mid starts-->

     <div class="row">
         <div class="span4">
     		<ul class="nav nav-list">
   			 <li class="nav-header">TEAM</li>
    		<li class="active"><a href="#">Santosh Kumar</a></li>
    		<li><a href="#">Theja Vangumalli</a></li>
    		<li><a href="#">RajaGopalan</a></li>
    		<li><a href="#">Gaurav Gampa</a></li>
    		<li><a href="#">Madhulika Tanuboddi</a></li>
    		<li class="nav-header">Our Friend</li>
    		<li><a href="#">Google</a></li>
    		<li><a href="#">Yahoo!</a></li>
   			 <li><a href="#">Bing</a></li>
    		<li><a href="#">Microsoft</a></li>
    		<li><a href="#">Gadgetic World</a></li>
			</ul>
         </div>
         <div class="span8">
             <h3>How we started ?</h3>
 
<p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.</p>
 
<p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.</p>
 
<h3>How do we market?</h3>
 
<p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.</p>
 
<p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.</p>

         </div>
     </div>
          <!--Mid ends-->

 
     <!--Footer starts-->

 <div class="row">
<div class="span4">
        <h4 class="muted text-center">Received notifications(Store wise)</h4>
        <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.</p>
        <a href="#" class="btn"><i class="icon-user"></i> Our Clients</a>
    </div>
    <div class="span4">
        <h4 class="muted text-center">Received notifications(Department wise)</h4>
        <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.</p>
        <a href="#" class="btn btn-success"><i class="icon-star icon-white"></i> Our Employees</a>
    </div>
    <div class="span4">
        <h4 class="muted text-center">Received notifications(Employee wise)</h4>
        <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.</p>
        <a href="#" class="btn btn-info">Contact Us</a>
    </div>
</div>
     <!--Footer ends-->

 
   </div>
   
   <hr>
<div class="footer">
<p>&copy; 2013</p>
</div>
   
   </body>
   
</html>